*{
 margin:0;

  font-family: Arial, Helvetica, sans-serif;
  color:white;
 
}
body{
  background: black;
}

.main{
  
    display:grid;
    grid-auto-rows: auto;
   
    
    

}
.nav{
  border-radius: 20px;
  border:1px white;
  display:flex;
  justify-content: space-between;
  min-width:300px;


 


  
}
.contents{
  display:inline-flex;
  align-items:center;
  justify-content: space-between;
  width:50%;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  background:radial-gradient(87.69% 14451.12% at 72.92% 121.54%, #550b73 7.29%, #0d030f 93.04%) ;
  background: none;
 
 
}
.contents a{
 
  text-decoration: none;
  margin-right: 20px;

  float:right;
 
 
  
  
  

}
.Photo{
  width: 360px;
  height: 408px;
  left: 704px;
  top: 277px;
  border-radius: 30px;
  margin-right: 5%;

}
.Photo img{
  border-radius: 30px;
}
/* Rectangle 2 */

.intro{
  background: none;
  display:flex;
justify-content: space-between;
margin-top:10%;
width:auto;
}
.text{
  margin-right:20px;
  margin-top:20px;
  margin-left:20px;
  background-color: black;
  opacity:0.8;
  border-radius: 20px;
  padding:5%;
 
}





h4:hover{
  background: radial-gradient(30.92% 134.47% at 26.37% 16.4%, #f913c7 16.7%, #500076 91.47%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h1:hover{

  background: radial-gradient(30.92% 134.47% at 26.37% 16.4%, #F91313 16.7%, #500076 91.47%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-transition: background-clip 5000ms linear;
  -ms-transition: background-clip 1000ms linear;
  transition: background-clip 1000ms linear;
}
h3:hover{
 
  background: radial-gradient(31.5% 137% at 35.79% 4.65%, #F9C613 16.7%, #15ce24 91.47%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
h2:hover{
 
  background: linear-gradient(90deg, #13F9C1 12.3%, #156EF2 52.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text a{
 color: white;
}
h1{
  border: black ;
}
.text a{
  color:white;
  text-decoration: none;
}
@media only screen and (max-width: 775px) {
  .footer {
      height: 20px;
      min-width: 318px;
  }
  body{
    background-color: black;
  }
  
  
  
  .lower-footer {
      height: auto;
      flex-direction: column;
      
  }
  
  .lower-left-footer {
      flex-wrap: wrap;
  }
  }

